.titulo{
    color:#e7cd44;
    text-align: center;
    font-weight: bold!important;
    padding-top: 2%!important;
    padding-bottom: 1%!important;
    font-size: 4vh;
    
}

.texto1{
    color: white;
    text-align: center;
    line-height: 5vh;
    font-size: 3vh!important;

}
.contato{
    text-align: center!important;
    font-weight: bold;
    color: #e7cd44;

}
.imagemContato{
    align-items: center;
}




