.titulo{
    color:#e7cd44;
    text-align: center;
    font-weight: bold!important;
    padding-top: 2%!important;
    padding-bottom: 1%!important;
    font-size: 4vh;
    
}

.texto1{
    color: white;
    text-align: center;
    line-height: 5vh;
    font-size: 3vh!important;

}
.contato{
    text-align: center!important;
    font-weight: bold;
    color: #e7cd44;

}
.imagemContato{
    align-items: center;
}

.imagemCardPessoal{
    width: 20vh;
    height: 20vh;
    margin-top: 0;
    border-radius: 100%;
}

.card{
    background-color: black!important;
}

.devJava{
    color: #e7cd44;
    font-size: 3vh!important;
    text-align: center;
    font-weight: bold!important;
}

.nomePessoal{
    font-size: 3vh!important;
    font-weight: bold!important;
}

.linkContato{
    color: #671a62;
    font-size: 3vh!important;
    font-weight: bold!important;
    text-align: center!important;
    text-decoration: none;


}

.cardSobre{
    background: linear-gradient(36deg,  #ffffff 1%, #671a62 78%)!important;
    border:solid 4px!important;
    width: 40vh;
    text-align: center;
}