
.text-decorator-none{
    text-decoration: none!important;
}
.tituloNavbar{
    margin-right: 10px!important;
    color: rgb(255, 0, 132)!important;
    font-weight: bold!important;
    padding: 5px;

}
.cursor{
cursor: pointer;
color: rgb(255, 0, 132)!important;
/* margin-right: 100px; */
}

.tituloNavbar:hover{
    color: rgb(103, 26, 98);
    
    
}

.logout{
  display: flex!important;
  justify-content: end!important;
  align-items: end!important;
  align-content: end!important;

  }

.img{
    width: 20vh!important;
    height: 15%!important;
}

.flexContainer{
    display: flex;
   justify-content: center;
    align-items: center;
    align-content: center;
}

.containerImagem{
display: flex!important;
  justify-content: left!important;
  align-items: left!important;
  align-content: flex-start!important;
}
