.text-decorator-none{
    text-decoration: none!important;
}
.tituloNavbar{
    color: #e7cd44!important;
    font-weight: bold!important;
    padding: 2px;

}
.cursor{
cursor: pointer;
color: #ff0084!important;
/* margin-right: 100px; */
}

.tituloNavbar:hover{
    color: #671a62;


}

.logout{
  display: flex!important;
  justify-content: end!important;
  align-items: end!important;
  align-content: end!important;

  }

.img2{
    width: 23vh!important;
    height: 10%!important;
    margin:0 auto;
}

.flexContainer{
    display: flex;
   justify-content: center;
    align-items: center;
    align-content: center;

}

.containerImagem{
  display: flex!important;
  justify-content: left!important;
  align-items: left!important;
  align-content: flex-start!important;
}