.deletarCardProduto{
  background: linear-gradient(36deg, #dfb4db 1%, #fab7e6 78%) !important;
  width: 17em;
  height: 15em;
  text-align: center;
  border-radius: 10% !important;
  box-shadow: 0.4em 0.4em #c365c6;
  margin-top: 2em;
  margin-bottom: 2em;
}


.botaoNaoProduto{
  font-size: 0.9em !important;
  font-family: Arial !important;
  width: 6.5em;
  height: 2em;
  color: #671a62 !important;
  border-color: #e7cd44;
  font-weight: bold !important;
  border-top-left-radius: 19px !important;
  border-top-right-radius: 19px !important;
  border-bottom-left-radius: 19px !important;
  border-bottom-right-radius: 19px !important;
  box-shadow: -1px 12px 16px -7px #e7cd44;
  text-shadow: -1px -1px 20px #e7cd44;
  background: linear-gradient(#b84d8b, #dfc64e);


}

.botaoNao:hover {
  background: linear-gradient(#ecd669, #c9ba6d);
}


  .botaoSimProduto{
    font-size:14px!important;
    font-family:Arial!important;
    width:7vw;
    height:5vh;
    color:#dd0e0e!important;
    border-color:#e7cd44;
    font-weight:bold!important;
    border-top-left-radius:19px!important;
    border-top-right-radius:19px!important;
    border-bottom-left-radius:19px!important;
    border-bottom-right-radius:19px!important;
    box-shadow: -1px 12px 16px -7px #b40606;
    text-shadow: -1px -1px 20px #ed0404;
    background:linear-gradient(#e00909, #eda7a7);
    margin-top: 2vh!important;
    margin-right: 1vw!important;
    
  }
.botaoSimProduto{
  font-size: 0.9em !important;
  font-family: Arial !important;
  width: 6.5em;
  height: 2em;
  color: #342d2d !important;
  border-color: #e7cd44;
  font-weight: bold !important;
  border-top-left-radius: 19px !important;
  border-top-right-radius: 19px !important;
  border-bottom-left-radius: 19px !important;
  border-bottom-right-radius: 19px !important;
  box-shadow: -1px 12px 16px -7px #b40606;
  text-shadow: -1px -1px 20px #ed0404;
  background: linear-gradient(#e00909, #eda7a7);

}

.botaoSim:hover {
  background: linear-gradient(#ecd669, #c9ba6d);
}

.titleCardDelete{
  font-weight: bold!important;
  font-size: 1.5em!important;
  text-align: center;
  margin-top: 5%!important;
  margin-bottom: 3%!important;

}

.produtoDelete{
font-size: 1.4em!important;
margin-bottom: -1.5em!important;
}
