.imagem2{
    width: 75%;
    height: 20%;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}

.textColor{
    color:  #e7cd44!important;
}



.botaoCadastrar{

    color: #5a4b81;
    background-color: #5a4b81;
 
  }

 
  .formBackground{
    background: linear-gradient(36deg,  #ffffff 8%, #671a62 78%)!important;
    border:solid 4px!important;
    display: flex;
    justify-content: start;
    padding: 5px;
    margin: 5px;
  }

  .form{
    
}

