
*{
    margin: 0;
    padding: 0;
  }
  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:url(https://imgur.com/a/R8b6zew);
    background-repeat: no-repeat;
    background-position: 10px;
    padding: 30px 35px;
  }
  .App h3{
    color: #5a4b81;
    font-size: 30px;
    font-weight: 800;
    margin-left: 300px;
    margin-top: 5px;

  }
  
  body .main  {
    width: 100vw;
    height: 100vh;
  }

  form{
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-left: 300px;
  }
  
  #dark .username,
  #dark .password {
    color: rgb(254, 255, 255);
    background: rgba(255, 247, 247, 0.299);
  }
  
  #dark .username::placeholder,
  #dark .password::placeholder {
    color: rgb(254, 255, 255);
  }
  
  input:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
  }
  
  .submit {
    cursor: pointer;
    border-radius: 5rem;
    color: #fff;
    background-color: #5a4b81;
    width: 76%;
    height: 40px;
  }
  
  .forgot {
    font-weight: 700;
    color: #5a4b81;
    text-decoration: none;
    padding-top: 15px;
    margin-top: 20px;
  }
  
  a {
      color: yellow;    
    
  }
  
  @media screen and (max-width: 600px) {
    .main {
      border-radius: 0px;
    }
  }