*{
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #13111b;
}
 * {
  text-decoration: none;
 }
body {
  margin: 0;
  padding: 0;
}

body .main  {
  width: 100vw;
  height: 100vh;

  box-shadow: 0px, 11px 35px 2px rgba(0, 0, 0, 0.14);


}

#light .main {
  background-color: #fff;
}

#dark .main {
  background-color: #201b2d;
}

.sign {
  padding-top: 40px;
  font-size: 23px;
  font-weight: 700;
  color: #5a4b81;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#light .sign{
  color: #5a4b81;
}

#dark .sign {
  color: #ffffff;
}

.username {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 10px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

.password {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 10px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}


form.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#light .username,
#light .password {
  color: rgb(38, 50, 56);
  background-color: rgba(136, 126, 126, 0.04);
}

#dark .username,
#dark .password {
  color: rgb(254, 255, 255);
  background: rgba(255, 247, 247, 0.299);
}

#dark .username::placeholder,
#dark .password::placeholder {
  color: rgb(254, 255, 255);
}

input:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5rem;
  color: #fff;
  background-color: #5a4b81;
  width: 76%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.forgot {
  font-weight: 700;
  color: #5a4b81;
  text-decoration: none;
  padding-top: 15px;
  margin-top: 20px;
}

a {
  font-weight: 700;
  color: #5a4b81;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}