.imagem2{
  width: 100% !important;
  height: 100% !important;
  border-radius: 2%;
  box-shadow: 7px 7px #8b44e7;
  float: right;
  margin-bottom: 20%;
  margin-left: 10%!important;
}

.formLogin {
  margin-right: 10%;
}

.formLogin 

.textos2{
  font-weight: bold !important; 
}


.textColor{
  color: #671a62 !important;
  font-weight: bold !important;
  font-family:Arial !important;

}



.botaoEntrar{
 font-size:14px!important;
  font-family:Arial!important;
  width:125px;
  height:42px;
  color:rgb(255, 255, 255)!important;
  border-color:#8b44e7;
  font-weight:bold!important;
  border-top-left-radius:19px!important;
  border-top-right-radius:19px!important;
  border-bottom-left-radius:19px!important;
  border-bottom-right-radius:19px!important;
  box-shadow: -1px 12px 16px -7px #e7cd;
  text-shadow: -1px -1px 20px #e7cd;
  background:linear-gradient(#e7cd, #ae43b8);
  margin-left: 8%!important;
}
.botaoEntrar:hover {
  background: #6108d4 !important;
}




.formBackground{
  word-wrap: break-word;
  display: flex;
  justify-content: start;
  box-shadow: 5px 5px #8b44e7;
  border-radius:2%;
  
}

#darkBackground{
  background: #371947 !important;
}

.colorText{
  color:#671a62;
  text-align: center;
  font-size: 3vh;
  margin-bottom: 10%;
}

.submit {
  cursor: pointer;
  border-radius: 5rem;
  color: #fff;
  background-color: #5a4b81;
  width: 76%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}