.footerCima{
    height: 120px!important;
    background-color: #310d57!important;
    
}

.footerBaixo{
    height: 60px!important;
    background-color: #310d57!important;
    
}

.icones{
    color:  #e7cd44!important;
    font-size: 3em!important;
}

.icones:hover{
    color:  #eed86c!important;
    font-size: 4em!important;
}