.footerCima{
    height: 120px!important;
    background-color: #310d57!important;
    
}

.footerBaixo{
    height: 60px!important;
    background-color: #310d57!important;
    
}

.icones{
    color:  #ff0079!important;
    font-size: 60px!important;
}