.card{
    background:#f0aef4;
    border-radius: 2%;
    box-shadow: 0.4em 0.4em #ac76ad;
   display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    align-content: center!important;
    border: 1px solid white;

}

.form input{
  width: 20em!important;
  height: 1.9em!important;
  padding-top: 1em!important;
  border: none!important;
  margin-bottom: 1em;
  color: #ffffff!important;
  border-radius: 5px!important;
}

.form label{
  font-size: 1em;
  width: 100%!important;
  height: 100%!important;
  color: #ffffff;
  font-size: bold!important;

}

.background{
    width: 100vw;
    min-height: calc(100vh - 1px); 
    background-color:rgb(201, 140, 207);
}

.botao{
    font-size:1em!important;
    font-family:Arial!important;
    width:50%;
    height:10%;
    color:#671a62!important;
    border-color:#e7cd44;
    font-weight:bold!important;
    border-top-left-radius:19px!important;
    border-top-right-radius:19px!important;
    border-bottom-left-radius:19px!important;
    border-bottom-right-radius:19px!important;
    box-shadow: -1px 12px 16px -7px #e7cd44;
    text-shadow: -1px -1px 20px #e7cd44;
    background:linear-gradient(#e7cd44, #cfb94d);
    margin-top: 4em!important;
  }
  
  .botao:hover {
    background: linear-gradient(#ecd669, #c9ba6d);
  }

  .title{
    color: #ffffff!important;
    font-weight:bold!important;
  }

  .flex{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
  }
