.text-decorator-none{
    text-decoration: none;
}

.CategoriaCard{
    background: linear-gradient(36deg,  #dfb4db 1%, #fab7e6 78%)!important;
    width: 15em;
    height: 12em;
    text-align: center;
    border-radius: 10%!important;
    box-shadow: 0.4em 0.4em #c365c6;
    padding-bottom: 1em;
    margin-top:1em;
    margin-bottom: 1em;
}

.botaoAtualizar{
    font-size:0.9em!important;
    font-family:Arial!important;
    width:6.5em;
    height:2em;
    color:#671a62!important;
    border-color:#e7cd44;
    font-weight:bold!important;
    border-top-left-radius:19px!important;
    border-top-right-radius:19px!important;
    border-bottom-left-radius:19px!important;
    border-bottom-right-radius:19px!important;
    text-shadow: -1px -1px 20px #e7cd44;
    background:linear-gradient(#b84d8b, #dfc64e);
    margin-top: 2vh!important;
  }
  
  .botaoAtt:hover {
    background: linear-gradient(#ecd669, #c9ba6d);
  }

  .botaoDeletar{
    font-size:0.9em!important;
    font-family:Arial!important;
    width:6.5em;
    height:2em;
    color:#342d2d!important;
    border-color:#e7cd44;
    font-weight:bold!important;
    border-top-left-radius:19px!important;
    border-top-right-radius:19px!important;
    border-bottom-left-radius:19px!important;
    border-bottom-right-radius:19px!important;
    text-shadow: -1px -1px 20px #ed0404;
    background:linear-gradient(#e00909, #eda7a7);
    margin-top: 2vh!important;
    margin-right: 1vw!important;
    padding-right: 4w!important;

  }
  
  .botaoDeletar:hover {
    background: linear-gradient(#ecd669, #c9ba6d);
  }

  .flex{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    align-tracks: center;
  }