.CategoriaCard{
    background: #f0aef4!important;
    width: 50vh;
    height: 50vh;
    text-align: center;
    justify-content: center;
    border-radius: 10%!important;
    box-shadow: 0.4em 0.4em #c365c6;
    border: 1px solid white!important;

}

.tituloCategoria{
  font-size: 3vh!important;
  padding-bottom: 0.1em;
  align-items: center;
}

.conteudoCategoria{
  padding-top: 10%;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
}

.linhaCategoria{
  font-weight: bold!important;
  font-size: 4vh!important;
  align-items: center;
  justify-content: center;

}

.botaoAtualizar{
    font-size:0.9em!important;
    font-family:Arial!important;
    width:6.5em;
    height:2em;
    color:#671a62!important;
    border-color:#e7cd44;
    font-weight:bold!important;
    padding-left: 1em;
    border-top-left-radius:19px!important;
    border-top-right-radius:19px!important;
    border-bottom-left-radius:19px!important;
    border-bottom-right-radius:19px!important;
    text-shadow: -1px -1px 20px #e7cd44;
    background:linear-gradient(#b84d8b, #dfc64e);
    margin-top: 2vh!important;
  }
  
  .botaoAtt:hover {
    background: linear-gradient(#ecd669, #c9ba6d);
  }

  .botaoDel{
    font-size:0.9em!important;
    font-family:Arial!important;
    width:6.5em;
    height:2em;
    color:#342d2d!important;
    border-color:#e7cd44;
    font-weight:bold!important;
    border-top-left-radius:19px!important;
    border-top-right-radius:19px!important;
    border-bottom-left-radius:19px!important;
    border-bottom-right-radius:19px!important;
    text-shadow: -1px -1px 20px #ed0404;
    background:linear-gradient(#e00909, #eda7a7);
    margin: 55em;
  }
  
  .botaoDel:hover {
    background: linear-gradient(#ecd669, #c9ba6d);
  }

