.imagemListarProduto{
    width: 70%!important;
    height: 100%!important;
    border-radius: 10%;
    border:solid 2px!important;
    box-shadow: 5px 5px #e7cd44;
    
}

.cardProdutos{
    background: #f0aef4!important;
    border: 1px solid white!important;
    height: 70vh!important;
    width: 50vh!important;
}



.nomeProduto{
    font-weight: bold!important;
    font-size: 35px!important;
    text-align: center;
    margin-top: 5%!important;
    margin-bottom: 3%!important;
}

.linhaProduto{
    font-weight: bold!important;
    font-size: 25px!important;
    text-align: center;
    margin-bottom: 2%!important;
}

.botaoAtt{
    font-size:14px!important;
    font-family:Arial!important;
    width:120%;
    height:3em!important;
    color:#671a62!important;
    border-color:#e7cd44;
    font-weight:bold!important;
    border-top-left-radius:19px!important;
    border-top-right-radius:19px!important;
    border-bottom-left-radius:19px!important;
    border-bottom-right-radius:19px!important;
    text-shadow: -1px -1px 20px #e7cd44;
    background:linear-gradient(#b84d8b, #dfc64e);

  }

  .botaoComprarListar{
    font-size:14px!important;
    font-family:Arial!important;
    width:120%;
    height:3em!important;
    color:#671a62!important;
    border-color:#e7cd44;
    font-weight:bold!important;
    border-top-left-radius:19px!important;
    border-top-right-radius:19px!important;
    border-bottom-left-radius:19px!important;
    border-bottom-right-radius:19px!important;
    text-shadow: -1px -1px 20px #e7cd44;
    background:linear-gradient(#b84d8b, #dfc64e);
  }
  
  .botaoAtualizar:hover {
    background: linear-gradient(#ecd669, #c9ba6d);
  }



  .botaoDel{
    font-size:14px!important;
    font-family:Arial!important;
    width:120%;
    height:3em!important;
    color:#342d2d!important;
    border-color:#e7cd44;
    font-weight:bold!important;
    border-top-left-radius:19px!important;
    border-top-right-radius:19px!important;
    border-bottom-left-radius:19px!important;
    border-bottom-right-radius:19px!important;
    text-shadow: -1px -1px 20px #ed0404;
    background:linear-gradient(#e00909, #eda7a7);

  }
  
  .botaoDel:hover {
    background: linear-gradient(#ecd669, #c9ba6d);
  }

  .botoes{
    display: flex!important;
    text-align: center!important;
    justify-content: center!important;
    align-items: center!important;
  }